<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.beersoft.device"
        version   = "1.0.0">
	<name>Pruebas Device</name>
	<description>
		Muestra la informacion del dispositivo con phonegap
	</description>
	<author email="beersoft@outlook.com" href="http://beersoft.com">
		Diego Luna
	</author>
	<gap:plataform name="android" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="false" />
	<preference name="android-installLocation" value="auto" />
  <preference name="SplashScreenDelay" value="10000" />
	

	<content src="index.html" />
	<access origin="*" />
  <splash src="splash.png" />
  
  <plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
  <plugin name="cordova-plugin-device" spec="~2.0.2" />
	
</widget>